node_modules/
/examples/**/styleguide/build
/examples/**/styleguide/index.html
/.publish/
# ignore files in lib except lib/bin and lib/scripts
lib/**
!lib/bin
!lib/bin/**
!lib/scripts
!lib/scripts/**
!lib/client
!lib/client/**

/coverage/
Changelog.md
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
.eslintcache
yarn.lock
/cypress/
test/cypress/screenshots/
test/cypress/videos/
stats.json
/site/build/
/site/.docusaurus/
/site/docs/
